@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center">

        <a asp-controller="Random" asp-action="Index"><img src="~/img/norris.jpg" /></a>

    </div>
    <div class="text-center">
        <a class="btn btn-dark" asp-controller="Random" asp-action="Index">Generate!</a>
    </div>
</div>